body {
	background-color: #E9C49E;
}
#content {
	background-color: red;
}
#postResults {
	background-color: white;
}
#posthead {
	background-color: #eee6cc;
	color: white;
}
#post {
	background-color: white;
	padding: 20px;
}
.postbody {
	padding: 20px;
}
.container {
	margin: auto;
}
